RewriteEngine On

# Если файл или директория существуют — отдаём их напрямую
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Все остальные запросы передаём в index.php
RewriteRule ^ index.php [L]